.project
.idea
*.vpp~*
*.iml
.DS_Store
logs
classes
**/**.log
target/**
bower_components
.sass-cache
npm-debug.log
!**/view/lib/
/public
.npmignore

.vscode
.history

.eslintcache

_npm-shrinkwrap.json
node_modules
git
